{
  "extends": [
    "airbnb-base"
  ],
  "rules": {
    "linebreak-style": "off",
    "prefer-destructuring": "off",
    "strict": "off",
    "no-console": "off",
    "no-useless-concat": "off",
    "consistent-return": "off"
  },
  "env": {
    "node": true
  }
}