html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    body
        p title
        button.btn.btn-primary Send
        button.btn.btn-secondary Cancel
    script(src='/js/bootstrap.min.js')