html
    head
        title=title
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    body
    form.form-insert(method='POST' action='/api/geturl')
        div.container
            div.row
                div.col-sm
                    center
                        | HARNESS EVERY CLICK, PASTE AND NAVIGATE
                        <br>
                        input(type='text', name='URL', placeholder="Paste a link to shorten it")
                        button.btn.btn-primary Shorten
                        <br>
                        button.btn.btn-secondary Clear
        
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
    script(src='/js/bootstrap.min.js')