html
    head
        title=title
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/cover.css')
    body.text-center
        div.cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column
            header.masthead.mb-auto.inner
                h3.masthead-brand URL Converted Express
            main.inner.cover(role='main')
                h1.cover-heading HARNESS EVERY CLICK, PASTE AND NAVIGATE
                form#apiForm.form-insert()
                    div.input-group
                        input#longUrl.form-control(type="text", name="URL", placeholder="Paste a link to shorten it", aria-label="Paste a link to shorten it", aria-describedby="basic-addon2")
                        input#redirectType(type="hidden", name="redirectType", value="true")
                        div.input-group-append
                            button.btn.btn-outline-secondary(type="submit") SHORTEN
                            button#clearbtn.btn.btn-outline-secondary(type="button") CLEAR
            footer.mastfoot.mt-auto.inner
                    p
                        | URL EXPRESS 
                        a(href='https://github.com/KadirMYilmaz/expressapi') GitHub
                        | , by 
                        a(href='#') Kadir 😎
                        | .

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src='/js/popper.min.js')
    script(src='/js/bootstrap.min.js')

    script.
        $(function () {
            $('form').submit(function() {
                $.ajax({
                    type: 'POST',
                    url: '/api/geturl',
                    data: $('#apiForm').serialize(),
                    success: function(data) {
                        console.log(data);
                        if (!data.error) {
                            alert(data.shortUrl);
                        }
                    },
                    error: function(data) {
                        console.log(data);
                        alert(data.responseJSON.message);
                    }
                }); 
                return false;
            });

            $('#clearbtn').click(function() {
                $('#longUrl').val('');
            });
        });
